# Pastas que não devem subir para o GitHub
audios_videos/
teste_aula/

# Ignorar arquivos de mídia pesados
*.mp4
*.wav
*.mkv
*.mp3

# Ignorar pastas de ambiente virtual Python (se você criar no futuro)
venv/
.env